<div>
    <h3>How can I help you?</h3>
    
      <div class="section-block">
        <h4>Microsoft Azure and the Cloud</h4>
        {% capture my_include %}{% include azure.md %}{% endcapture %}
        {{ my_include | markdownify }}
         
         
        {% include contact.html %}
    </div>

     <div class="section-block">
        <h4>SQL in Version Control</h4>
        {% capture my_include %}{% include sqlInVersionControl.md %}{% endcapture %}
        {{ my_include | markdownify }}
         
        {% include contact.html %}
    </div>
    
    <div class="section-block">
        <h4>Octopus Deploy</h4>
        {% capture my_include %}{% include octopusDeploy.md %}{% endcapture %}
        {{ my_include | markdownify }}
         
        {% include contact.html %}
    </div>
    
    <div class="section-block">
        <h4>Painful Releases?</h4>
        {% capture my_include %}{% include releases.md %}{% endcapture %}
        {{ my_include | markdownify }}
         
        {% include contact.html %}

    </div>
</div>